.mark {
    color: green;
}
h2,
h3 {
    color: #0087C6;
}

.capitalize {
    font-weight: bold;
    color: red;
}
strong {
    color: #0087C6;
}

em {
    font-weight: bold;
}

.remindme {
    color: orange;
    font-style: italic;
}
