.mark {
    color: green;
}
h2,
h3,
h4 {
    color: #0087C6;
}
.head4 {
    font-size: 18px;
    font-weight: bold;
    margin-right: 8px;
    color: #0087C6;
}

.capitalize {
    font-weight: bold;
    color: red;
}
strong {
    color: #0087C6;
}

em {
    font-weight: bold;
}

.remindme {
    color: orange;
    font-style: italic;
}

figcaption {
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.9em;
}
